.title {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* min-height: 100vh; */
}

.row {
  display: flex;
  flex-direction: row;
}

.charBox {
  border: black solid 1px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0.5rem;
}

.correctPositionBox {
  background-color: darkgreen;
}

.incorrectPositionBox {
  background-color: darkorange;
}

.incorrectBox {
  background-color: lightgrey;
}
