.gameContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.charBox {
  border: black solid 1px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0.5rem;
}

.correctPositionBox {
  background-color: rgb(87, 195, 87);
}

.incorrectPositionBox {
  background-color: rgb(255, 188, 107);
}

.incorrectBox {
  background-color: lightgrey;
}

.formContainer {
  margin: 30px 0;
}
